{% extends 'base.html' %}

{% block content %}
  <header>
    <nav>
      <li>
        <a href="{% url 'home' %}">Main page</a>
      </li>
    </nav>
  </header>
  <main>
    <div>
      <h1>Create Category</h1>
      <form method="post">
       {% csrf_token %}
       {{ form.as_p }}
       <button>Create</button>
      </form>
    </div>
  </main>
{% endblock content %}
