{% extends 'base.html' %}

{% block content %}
  <header>
    <nav>
      <li>
        <a href="{% url 'home' %}">Main page</a>
      </li>
    </nav>
  </header>
  <main>
    <h1>My Categories</h1>
    <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Number of Receipts</th>
          </tr>
        </thead>
        <tbody>
            {% for category in categories %}
              <tr>
                <td>{{ category.name }}</td>
                <td>{{ category.receipts.all|length }}</td>
              </tr>
            {% endfor %}
        </tbody>
    </table>
  </main> 
{% endblock content %}



