{% extends 'base.html' %}

{% block content %}
    <header>
        <nav>
          <li>
            <a href="{% url 'signup' %}">Sign up</a>
          </li>
        </nav>
    </header>
    <main>
        <div>
            <h1>Login</h1>
            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button>Login</button>
            </form>
        </div>
    </main>
{% endblock content %}